body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('/img.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
  color: #333; /* Color del texto */
}

.login-container {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
  padding: 40px; /* Espacio interno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  max-width: 400px; /* Ancho máximo del contenedor */
  width: 100%; /* Responsive */
  text-align: center; /* Centra el contenido */
}

.logo {
  width: 80px; /* Tamaño del logo */
  margin-bottom: 20px;
}

.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #941a1a;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-google img {
  width: 20px;
  margin-right: 10px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #941a1a;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #7e1717;
}
